/* Estilo Geral */
.dashboard-section {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-section h1 {
    font-size: 2rem;
    color: #004aad;
    margin-bottom: 10px;
}

.dashboard-section p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

/* Canvas do Gráfico */
canvas {
    max-width: 800px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: linear-gradient(180deg, #ffffff, #eaf4ff);
}

/* Contêiner de Botões */
.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaço acima dos botões */
    margin-bottom: 20px;
}

/* Botões de Filtro */
.filter-button {
    background-color: #004aad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;

}

.filter-button:hover {
    background-color: #003380;
    transform: scale(1.05);
}

.filter-button.active {
    background-color: #0056a3;
    font-weight: bold;
    transform: scale(1.1);
}
